<!-- <h3> Welcome back,
  <%=currentUser.firstname %>. </h3> -->



  <div class="wrapper">
  <!-- Include the sidebar partial -->


  <% include ../partials/sidebar%>

    <div id="content">
      <!-- <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
        <i class="glyphicon glyphicon-align-left"></i>
        <span>Toggle Sidebar</span>
    </button> -->

    </div>
    
<div>