<% if(alerts.error){ %>
  <%alerts.error.forEach(function(e){ %>
      <div class="alert alert-danger">
        <%= e %>    
      </div>  
  <% }); %>
<%}%>

<% if(alerts.success){ %>
  <% alerts.success.forEach(function(s){ %>
      <div class="success alert-success">
        <%= s %>    
      </div>  
  <% }); %>
<%}%>