<div class="container" id="search">

    <form action="/profile/jobs" method="POST" class="form-inline">
        <div class="form-row align-items-center">
            <div class="form-group col-sm-5">

                <label for="searchTerm">Position: </label>
                <input type="text" name="searchTerm" class="form-control" placeholder="What?">
            </div>

            <div class="form-group col-sm-5">

                <label for="location">Location: </label>
                <input type="text" name="location" class="form-control" placeholder="Where?">
            </div>

        </div>
        <div class="col-sm-2">
            <input type="submit" id="search-btn" class=" btn btn-success">
        </div>
</div>

</form>
</div>