<nav id="sidebar">
  <ul class="list-unstyled components">
    <li>
      <a href="/profile/fav">Saved</a>
    </li>
    <li>
      <a href="/profile/applied/">Applied for</a>
    </li>
  </ul>
</nav>