<div class="wrapper">
    <nav id="sidebar">
        <div class="sidebar-header">
            <!-- Might be a good idea to have a headeer  -->
        </div>
        <ul class="list-unstyled components">
            <li><a href="/profile/jobs">New Listings</a></li>
            <li><a href="/profile/fav">Saved</a></li>
            <li><a href="/profile/applied">Applied for</a></li>
        </ul>
    </nav>
</div>