<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Job Search Organizer</title>
<!-- Latest compiled and minified CSS -->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>







<body>
  
  <% include partials/navbar %>

 <% if(currentUser) {%>
  <% include partials/search %>

<% } %>


  <div class="container">
    <div class="row">
      <div class="col-md-3">

        
 <% if(currentUser) {%>
  <% include partials/sidebar %>

<% } %>

      </div>
  
      <div class="col-md-9">
        <!-- <% include partials/alerts %> -->
        <%- body %>
      </div>
    </div>
  </div>

 <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>



<script type="text/javascript" src="/js/app.js"></script>
</body>
</html>