<h2>User Profile</h2>
<div>

<h3> Welcome back, <%=currentUser.firstname %>. 
<h4>There are no current alerts.</h2> 
<!-- Include the sidebar partial -->
<% include partials/sidebar%>

                