<h2>User Profile</h2>
<div>

<h3> Welcome back, <%=currentUser.firstname %>. 
<h4>There are no current alerts.</h2> 
</div>

<div class="wrapper">
    <nav class="sidebar">
        <div class="sidebar-header">
            <!-- Might be a good idea to have a headeer  -->
        </div>
        <ul class="list-unstyled components">
            <li><a href="/profile/jobs">New Listings</a></li>
            <li><a href="/profile/fav">Saved</a></li>
            <li><a href="/profile/applied">Applied for</a></li>
        </ul>
    </nav>
</div>